
<h1 class="text-center display-1">Aplicacion de notas</h1>
<div class="card mt-4">
	
	<div class="card-body text-center">
		<img src="/img/circulo.png" alt="" class="circulo">
		<h3>Creador: Ariel Martin, Desarrollador Web</h3>
		<p>Egresado de la Carrera "Tecnicatura en desarrollo de Aplicaciones Web" en la Universidad Nacional de la Matanza.</p>
		<a href="http://arielmartin.ml" class="btn btn-primary btn-lg mx-auto" target="_blank">Porfolio</a>
	</div>
</div>
	
