<div class="row">
	<div class="col-md-8 col-lg-4 mx-auto mb-4">
		<div class="card text-center">
			<div class="card-header">
				<h1>Login</h1>
			</div>
			<img src="/img/logo.png" class="logo rounded-circle mx-auto d-block m-4" alt="Logo">
			<div class="card-body">
				<form action="/users/singin" method="POST">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="Email" autofocus>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">
							Ingresar
						</button>
					</div>										
				</form>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<h3>Para pruebas utilice</h3>
<p>Email: test@test.com<br/>
Password: test</p>
</div>